@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body{
    overflow: hidden;
    margin: 0px;
    height: 1080px;
    width: 1920px;
    background-image: url(../src/jpeg/bmwbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

#personal-cab{
    width: 1100px;
    height: 1000px;
    margin-left: 415px;
    margin-top: -30px;
    border-radius: 15px;
    display:block;
    padding-top: 50px;
}

/*personal-cabseller*/

#personal-cabseller{
    width: 1100px;
    height: 1000px;
    margin-left: 415px;
    margin-top: -30px;
    border-radius: 15px;
    display:none;
}

/*personal-cabadm*/

#personal-cabadm{
    width: 1100px;
    height: 1000px;
    margin-left: 415px;
    margin-top: -30px;
    border-radius: 15px;
    display:none;
    padding-top: 100px;
}

.admbtns{
    height: 150px;
    width: 900px;
    margin-left: 100px;
}

#changepassinput{
    width: 200px;
}

#changepassbtninform{
    margin-top: 5px;
    width: 230px;
}

#changepassform{
    padding-top: 5px;
}

#changepasserr, #changepassok{
    text-align: center;
}

.changepasserr{
    background-color: #e013137d;
    width: 900px;
    height: 40px;
    margin-left: 0px;
}

.changepassok{
    background-color: #13e0197d;
    width: 900px;
    height: 40px;
}

.cabbtn{
    height: 37px;
    width: 199px;
    margin-top: 10px;
    margin-left: 11px;
    background: rgba(0,0,0,.3);
    border: 1px solid white;
    text-align: center;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding-top: 5px;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

.cabbtn:hover {
    border: 1px solid rgba(0, 208, 255, .3);
    background: rgba(0, 208, 255, .3);
}

#pricetableadm{
    width: 375px;
}
#pricetableadmbtn{
    width: 375px;
}

#accountredadm{
    width: 490px;
}

#pricetabledmredbtn{
    width: 475px;
}


.changepassadm, #zakazbiletov{
    width: 880px;
}

.cabmenu{
    border: 1px solid white;
    height: 500px;
    width: 900px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0 0 3px 0px white;
    background: #31313199;
}

.lkcabmenu{
    height: 500px;
    width: 900px;
}

.hidecabmenu{
    display: none;
}

#pricetabledmred{
   width: 550px; 
}

#acctablered{
   width: 550px; 
}

.pricetablemen{
    height: 410px;
    width: 863px;
    border: 1px solid white;
    margin-left: 15px;
    margin-top: 20px;
    /*display: none;*/
}

.forminputtable{
    height: 40px;
    width: 150px;
    border: 1px solid white;
    background: rgba(0,0,0,0);
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    outline: none;
}

.pricetablemen p{
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-left: -100px;
    color: white;
}

#pricetablered{
    padding-top: 15px;
    padding-left: 45px;
    width: 818px;
}

.pricetablemenbtn{
    margin-top: 50px;
}

#pricetableadd{
    padding-top: 15px;
    padding-left: 105px;
    width: 758px;
}

#addtable{
    margin-left: 413px;
    margin-top: 100px;
}

#redtable{
    margin-left: 567px;
    margin-top: 100px;
}

.createaccount{
    height: 200px;
    width: 900px;
    margin-left: 0px;
}

#showtableusers{
    height: 200px;
    width: 900px;
    margin-top: -20px;
}

#acctablered p{
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: white;
}

.forminputtablesearch{
    margin-left: 10px;
}

.changepassbtninform{
    margin-left: -5px;
}

table{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

th, td{
    border: 1px solid white;
    height: 75px;
    width: 300px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

input{
    transition: .5s;
}

input:hover{
    border: 1px solid rgba(0, 208, 255, .3);
}

#redtablebtn{
    width: 230px;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

.btnhome{
    height: 35px;
    width: 900px;
    border: 1px solid white;
    margin-top: -200px;
    margin-left: 515px;
    box-shadow: 0 0 3px 0px white;
    padding-top: 5px;
    text-align: center;
    transition: .5s;
}

.btnhome:hover{
    border: 1px solid rgba(0, 208, 255, .3);
    background-color: rgba(0, 208, 255, .3);
    box-shadow: 0 0 0 0 white;
}

.btnhome a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}